{% extends 'base.html.twig' %}

{% block carousel %}
{% endblock %}

{% block content %}

    <!-- Three columns of text below the carousel -->
    <h3>Nos meilleures ventes</h3>
    <p>Retrouvez nos articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        {% for product in products %}
            <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>


    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock %}